*~
/a.c
aclocal.m4
ar-lib
autom4te.cache
awips2-ldm.spec
bin
build-aux
/check-cc
/check-clang
/check-make
/check-make-cc
/check-make-clang
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
/consistent
core.*
coverity-scan
cov-int
.cproject
data
depcomp
depends
*.deplog
.deps
.dirstamp
doc
down7_test.pq
doxygen-output
etc
feedme/feedme
gmon.out
*.gz
html/basics/source-install-steps.html
*.i
include
.*.info
install-sh
*.la
ldm-6.*
ldmping/ldmping
ldmsend/ldmsend
ldm.spec
ldm.tgz
ldm_version.*
.libs
libtool
*.lo
*.log
logs
*.loT
ltmain.sh
m4
macros.make
Makefile
Makefile.in
man
*.map
.metadata
missing
/nbs_test.pq
notifyme/notifyme
*.o
*.patch
*.pim
pqact/pqact
pqcat/pqcat
pqcat/pqcat.1
pqcheck/pqcheck
pqcreate/pqcreate
pqexpire/pqexpire
pqing/pqing
pqinsert/pqinsert
pqmon/pqmon
pqsend/pqsend
pqsurf/pqsurf
/pq_test.pq
pqutil/pqutil
.project
queue
regex/regex
*.rpm
rtstats/rtstats
runtime
server/ldmd
.settings
share
stamp-h1
*.swp
tags
TAGS
/test-driver
TEST-test.xml
*.trs
t.t
ulog/hupsyslog
ulog/ulogger
up7_test.pq
vgcore.*
*.yaml
/uni15-r
/PAT
*.DS_Store
.idea/
