.deps
*.loT
ldmconfig.h
*~
feedme/feedme
ldmping/ldmping
autom4te.cache
.libs
configure
Makefile
config.status
*.gz
ldm_version.*
*.log
macros.make
*.o
*.swp
.dirstamp
config.guess config.sub
*.la
stamp-h1
config.guess
config.sub
