*.a
*.o
*.i
readnoaaport
dvbs_multicast
tags
CVS/*
.cproject
.project
*.lo
autom4te.cache
config.h
*.log
config.status
.deps
.libs
*.la
*.loT
*~
stamp-h1
stamp-h1
Makefile
*.tar.gz
core.*
*.swp
html
noaaportIngester
Makefile
Makefile.in
Makefile
configure
configure
acq_ldm_getshm
acq_ldm_freeshm
Grib2Decoder.h
*.out
/nbs_test
/pipe_test
/socketpair_test
/nbs_ingest
/g2vcrdnssl1.tbl
/fileReader.h.tmp
/nbs_test.pq
/output.gini
/blender
/testBlender
/gap_test.c
