*.a
*.o
*.i
readnoaaport
dvbs_multicast
tags
CVS/*
.cproject
.project
*.lo
autom4te.cache
config.h
*.log
config.status
.deps
.libs
*.la
*.loT
*~
stamp-h1
stamp-h1
Makefile
*.tar.gz
shmfifo.h
core.*
*.swp
html
fifo.h
fileReader.h
ldmProductQueue.h
multicastReader.h
noaaportIngester
productMaker.h
reader.h
getFacilityName.h
Makefile
Makefile.in
Makefile
configure
configure
acq_ldm_getshm
acq_ldm_freeshm
Grib2Decoder.h
*.out
