
body {background-color: #FFFFFF;
      margin: 5;
      font-size: 12pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif}       




body.popup {background-color: #ffffcc;}


.cimg {
    text-align:center;
    margin-top: 20;
    margin-bottom: 40;
}



.note {
    font-style:italic;
    text-decoration:italic;
    margin-top: 20;
    margin-bottom: 20;
    border:1px solid #333;	
}


x.step {
   margin-top: 20;
   margin-bottom: 20;
}

x.substep {
    margin-top: 10;
    margin-top: 10;
}

ul.step li {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20;
    margin-bottom: 0}




.toc {
  border-bottom:2px solid #333;	
}



/*Since applying styles to span tags does not seem to work we use <code class="command">*/

code.command {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}

code.menu {
         font-size: 12pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}


.breadcrumb {
      text-decoration: none;
      font-weight: bold;
      font-size: 7pt;
      font-family: SansSerif, Arial, Helvetica, sans-serif}       



.pagetitle {
    font-size: 18pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 15;
    margin-bottom: 5;
}

.pagesubtitle {
    font-size: 14pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}


.pagesubsubtitle {
    font-size: 12pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 5;
    margin-bottom: 5;
}



p   {
     font-size: 12pt;
     font-family: SansSerif, Arial, Helvetica, sans-serif;       
     margin-top: 10;
     margin-bottom: 0;
}

p.code {
        font-family: Monospaced;
	margin-left: 22;
       }


p.indent1  {margin-left: 3}

p.indent2  {margin-left: 12}

p.indent3  {margin-left: 32}

p.note {margin-top: -19;
	margin-left: 22}

p.table {font-size: 12pt;
     font-family: SansSerif, Arial, Helvetica, sans-serif;
     margin-top:0;
     margin-bottom: 0}

blockquote.menu {margin-left: 18;
		margin-top: 10}

center {margin-top: 10}


[border] {border: solid thin;
       border-color: silver}

table {border: none;
       border-color: white;
       margin-top: 5;
       margin-bottom: 5}

td {font-size: 12pt;
    font-family: SansSerif, Arial, Helvetica, sans-serif;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1} 


th {padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1}


small {font-size: x-small}

dl.see_also {margin-left: 0;
    margin-top: 10;
    margin-bottom: 10}


.idv {text-decoration: none;background-color: #ffffcc;}

a.idv {text-decoration: none }

a.nounderline {text-decoration: none }

pre {  font-family: Monospaced, "Courier New", Courier, mono; font-size: x-small}

code {  font-family: Monospaced, "Courier New", Courier, mono; font-size: x-small}
