name: Distcheck CI

on:
  push:
#    branches: [ "devel", "master", "main" ]
    branches: [ "*" ]

jobs:
  distcheck_matrix:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - run: mkdir m4

      - name: Ubuntu
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get install doxygen
          autoreconf -fi

      - name: MacOS
        if: matrix.os == 'macos-latest'
        run: |
          brew install autoconf@2.69
          brew install automake
          brew install doxygen
          /usr/local/opt/autoconf@2.69/bin/autoreconf -fi

      - run: ./configure --disable-root-actions --with-noaaport || { cat configure; exit 1; }
      - run: make all
      - run: make distcheck
