name: Distcheck CI

on:
  push:
    branches: [ "devel", "master" ]
  #pull_request:
   # branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    #- name: Install sudo
     # run: apt update && apt install sudo
    - name: Install Doxygen
      run: sudo apt install doxygen
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
    - run: echo ${GITHUB_WORKSPACE}
    - name: mkdir m4
      run: mkdir m4
    - name: autoreconf
      run: autoreconf -fi
    - name: configure
      run: ./configure --disable-root-actions --with-noaaport
    - name: make
      run: make
#    #- name: make check
##      run: make check
    - name: make distcheck
      run: make distcheck
